{% extends "blog/base.html" %}
{% block content %}
    <div class="content-section">
        <h1>About</h1>
        <p>
            This is a Django blog project made by <a href="www.ahmadmuhammad.co.za">Ahmad Muhammad</a>.
        </p>
        <p>
            I made this project while following the Django series on 
            <a href="https://www.youtube.com/channel/UCCezIgC97PvUuR4_gbFUs5g">Corey Schafer</a>'s 
            channel, with some improvisations and functionality added by myself.
        </p>
    </div>
{% endblock content %}

